/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*prevent adjustments of font size after oreientation changes in IE on windows phone and ios*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*apply a natural box layout model to all elements*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*------------BODY--------------*/
body {
  font-family: "Muli", sans-serif;
  font-weight: 400;
  font-size: .9rem;
  line-height: 1rem;
  text-align: center; }

h1 {
  font-size: 1.5rem;
  line-height: 2rem; }

h2 {
  font-size: 1.1rem; }

/*---------HEADER-----------*/
header .banner {
  margin-top: 50px; }
header .banner img {
  width: 100%; }

/*-----------NAV-----------------*/
.navbar {
  background-color: #b3d334;
  color: #404d0b;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 50px; }

.menuIcon {
  text-align: right; }
  .menuIcon i {
    padding: .5rem;
    font-size: 1.5rem; }

.bigScreen {
  display: none; }

.mobile .menuList {
  display: none;
  background-color: #b3d334; }

.menuList li {
  padding: .5rem;
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }

.menuList li:hover {
  background-color: #93ae26; }

.show {
  display: block !important; }

/*--------------Side Bar------------------*/
.location {
  clear: both;
  z-index: 2;
  position: absolute;
  right: 0;
  background-color: orange;
  width: 50px;
  height: 25px; }
  .location i {
    color: white;
    padding: 3px 0;
    margin-left: 15px; }

/*-----------------SLIDER---------------*/
div.slider {
  margin-top: 70px;
  height: 20vh;
  background-color: silver;
  position: relative; }

.slider figure {
  width: 100%;
  position: relative;
  margin: 1rem 0;
  left: 0; }

.slider figure img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  transition: 3s ease-in-out; }

.slider::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  background-image: url("../images/logo.jpg");
  background-position: center;
  background-size: cover;
  z-index: 2; }

/*------------------Main ----------------*/
main {
  width: 100%;
  margin: 1rem 0;
  height: 200px; }

/*-------------MATERIALS---------------*/
/*--------------Footer-----------------*/
@keyframes changeColor {
  100% {
    color: #768633; } }
footer {
  text-align: left;
  background-color: #b3d334; }
  footer figure:nth-child(1) {
    display: none;
    /*this pic for bigger screen*/ }
  footer figure img {
    width: 100%; }
  footer ul {
    margin: .5rem 2%; }
  footer ul li {
    list-style: none;
    font-size: .7rem;
    color: #404d0b; }
  footer ul li a {
    text-decoration: none;
    color: #404d0b; }
  footer ul li i {
    margin: 2%;
    font-size: 1rem;
    transition: .2s; }
  footer ul li:first-child i {
    animation: changeColor 2s infinite; }
  footer p {
    font-size: .5rem;
    margin-right: 2%;
    text-align: right;
    color: gray; }

/*end media query*/
@media only screen and (min-width: 60rem) {
  /*================ HEADER ================*/
  header {
    position: relative; }

  /*=============== NAV =================*/
  .mobile .menuIcon,
  .mobile .menuList {
    display: none; }

  .bigScreen {
    display: block; }
    .bigScreen ul {
      display: flex;
      justify-content: space-around; }
    .bigScreen ul li {
      padding: .7rem .5rem;
      cursor: pointer;
      align-items: center; }
    .bigScreen ul li:hover {
      background-color: #93ae26; } }
/*end media query*/
