/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*prevent adjustments of font size after oreientation changes in IE on windows phone and ios*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*apply a natural box layout model to all elements*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*------------BODY--------------*/
body {
  font-family: "Muli", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center; }

/*---------HEADER-----------*/
header {
  position: relative;
  top: 3rem; }
  header figure img {
    width: 100%; }
  header h1 {
    text-transform: uppercase;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 1rem;
    padding: .5rem; }
  header .slogan h2 {
    width: 80%;
    margin: 1rem auto; }
  header .slogan h4 {
    text-align: right;
    padding: 0 1rem;
    margin: 0 1rem; }
  header .slogan {
    color: red;
    margin: 1rem 2%;
    position: relative;
    font-style: italic;
    font-size: .8rem; }
  header .slogan::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10d";
    font-size: .8rem;
    line-height: 0.1em;
    position: absolute;
    left: 2%; }
  header .slogan::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10e";
    font-size: .8rem;
    line-height: 0.1em;
    position: absolute;
    right: 2%; }

/*-----------NAV-----------------*/
nav {
  position: fixed;
  width: 100%;
  z-index: 2; }
  nav .menuIcon {
    cursor: pointer;
    position: relative;
    text-align: right; }
  nav .menuIcon div {
    width: 1.34rem;
    height: .2rem;
    background-color: purple;
    margin: .2rem;
    transition: .2s; }
  nav .menuIcon div:nth-child(1) {
    transform-origin: 0% 0%; }
  nav .menuIcon div:nth-child(3) {
    transform-origin: 0% 100%; }
  nav .menuList ul li {
    list-style: none;
    padding: .5rem 0;
    color: coral; }
  nav .menuList {
    position: relative;
    opacity: 0;
    overflow: hidden;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1); }
  nav .show {
    opacity: 1; }
  nav .closeIcon1 {
    transform: rotate(45deg) translate(-2px, -1px);
    background-color: coral !important; }
  nav .closeIcon2 {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2); }
  nav .closeIcon3 {
    transform: rotate(-45deg) translate(0, -1px);
    background-color: coral !important; }
  nav .effect {
    width: 10px;
    height: 10px;
    background-color: purple;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1) !important;
    opacity: 0;
    z-index: -1; }
  nav .effect_active {
    transform: scale3d(70, 70, 70);
    opacity: 1; }

/*--------------Footer-----------------*/
footer {
  margin-top: 10rem;
  padding: .3rem;
  position: relative;
  clear: both;
  bottom: 0; }
  footer ul li {
    display: inline-block; }
  footer ul li:nth-child(1) {
    position: absolute;
    left: 2%; }
  footer ul li:nth-child(2) {
    position: absolute;
    right: 2%; }

@media only screen and (min-width: 35rem) {
  header h1 {
    color: blue; } }
/*end media query*/
/*end media query*/
