/*================ HEADER ================*/
header {
    position: relative;
}
/*=============== NAV =================*/
.mobile .menuIcon,
.mobile .menuList{
    display: none;
}
.bigScreen{
    display: block;
    ul{
        display: flex;
        justify-content: space-around;
    }
    ul li{
        padding:.7rem .5rem;
        cursor: pointer;
        align-items: center;
    }
    // ul li:last-child{
    //     flex-grow: 2;
    // }
    ul li:hover{
        background-color: darken($color: $primaryColor, $amount: 10%);
    }
}