/*================ HEADER ================*/
header {
    position: relative;
}
/*=============== NAV =================*/
.mobile .menuIcon,
.mobile .menuList{
    display: none;
}
.bigScreen{
    display: block;
    ul{
        display: flex;
        justify-content: space-around;
    }
    ul a{
        text-decoration: none;
        color: $fontColor;
    }
    ul li{
        padding:.7rem .5rem;
        cursor: pointer;
        align-items: center;
    }
    // ul li:last-child{
    //     flex-grow: 2;
    // }
    ul li:hover{
        background-color: darken($color: $primaryColor, $amount: 10%);
    }
}
/*---------------Slider---------------------*/
div.slider{
    height: 800px;
  
}
/*------------------Main---------------*/
.gioiThieu{  
    display: grid;
    width: 90%;
    margin:0 auto;
    grid-template-columns: repeat(3,1fr);
   .content .wrapper div{
      height: 308px;
   }
}
.follows figure img{
    margin: 1rem;
    width:5%;
}
/*--------------Footer-----------------*/
footer {
    
    figure:nth-child(2){
        display: none;/*this pic for small screen*/
    }
    
    figure:nth-child(1){
        display: block;/*this pic for bigger screen*/
    }
    
    ul{
       display: grid;
       grid-template-columns: repeat(3,1fr);
       margin: .5rem 0;
        width: 100%;
        text-align: center;
    }
    ul li{
        font-size:.9rem;
    }    
    ul li i{        
        font-size: 1.1rem;
    }
    
    p{
        font-size:.7rem;
    }
   
}