.sideBar{
    top:-49.7px;
    right: 0;
    margin-right: 0;
    ul {
        flex-direction: column;
        overflow: visible;
    }
    ul li{
        width: 110px;
        padding: .75rem 0;
    }
}   