/*--------------------logo---------------------*/
.slider::before{    
    height: 75px;
    width: 75px;   
}
/*-------------location---------------------*/
.location{
   
   width: 75px;
   height: 37.5px;

   i{
       font-size: 1.2rem;
   }
}
/*---------------Slider---------------------*/
div.slider{
    height: 480px;
  
}
/*-----------------Main -------------------*/
main{
    width: 100%;
    margin: 5rem 0 1rem 0;
   font-size:1.2rem;
   line-height: 1.6rem;
   color: red;
}
// .gioiThieu{
  
//     .content{
//        padding: .5rem 1rem;
//        height: 500px;
//     }
//     .content div{
//         padding: .5rem 0;
//     }
//     .follows{
//         margin:1rem 0 .5rem 0;
//     }
//     .follows figure img{
//         margin: 1rem;
//         width:10%;
//     }
// }
/*----------FOR WHOM----------*/
.forWhom-info{
    width: 90%;
    .info{
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        grid-column-gap: .5rem;
    }
    figure img{
        width: 100%;
    }
}