/*prevent adjustments of font size after oreientation changes in IE on windows phone and ios*/
html{-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%};

/*apply a natural box layout model to all elements*/
*{-moz-box-sizing: border-box;-webkit-box-sizing: border-box; box-sizing: border-box;}
/*------------BODY--------------*/
body{
    font-family: $defaultFont;
    font-weight: $normalWeight;
    font-size: .9rem;
    line-height: 1rem;
    text-align:center;
}
h1{
    font-size: 1.5rem;
    line-height: 2rem;
}
h2{
    font-size:1.1rem;
}
/*---------HEADER-----------*/
header{
    .banner{
        margin-top: 50px;
    }
    .banner img{
        width:100%;
    }
}
/*-----------NAV-----------------*/
.navbar{
    background-color: $primaryColor;
    color:#404d0b;
    position: fixed;
    top:0;
    left:0;
    z-index: 3;
    width: 100%;
    height: 50px;
}
.menuIcon {
    text-align: right;
    i{
        padding: .5rem;
        font-size: 1.5rem;
    }
}
.bigScreen{
    display:none;
}
.mobile .menuList{
    display: none;
    background-color: $primaryColor;
}
.menuList li{
    padding: .5rem;
    transition:.3s  cubic-bezier(0.165, 0.84, 0.44, 1);
}
.menuList li:hover{
    background-color: darken($color: $primaryColor, $amount: 10%);
}
.show{
    display:block !important;
}
/*--------------Side Bar------------------*/
.location{
    clear:both;
    z-index: 2;
    position: absolute;
    right: 0;
   background-color: orange;
   width: 50px;
   height: 25px;

   i{
       color:white;
       padding: 3px 0;
       margin-left: 15px;
   }
}
/*-----------------SLIDER---------------*/
div.slider{
    margin-top:50px;
    height: 20vh;
    background-color: silver;
    position: relative;
}

.slider figure{
    width:100%;
    position: relative;
    margin: 1rem 0;
    left: 0;
   
}
.slider figure img{
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    display: block;
    transition: 3s ease-in-out;
}   
.slider::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    height: 50px;
    width: 50px;
    background-image: url('../images/logo.jpg');
    background-position: center;
    background-size: cover;
    z-index:2;
}
/*------------------Main ----------------*/
main{
    width: 100%;
    margin: 1rem 0;
   height: 200px;
}



/*-------------MATERIALS---------------*/



/*--------------Footer-----------------*/
@keyframes changeColor{
    100%{color:#768633;}
}
footer {
    text-align: left;
    background-color: $primaryColor;
    figure:nth-child(1){
        display: none;/*this pic for bigger screen*/
    }
    figure img{
        width: 100%;
    }
    ul{
       margin: .5rem 2%; 
       
    }
    ul li{
        list-style: none;
        font-size:.7rem;
        color:#404d0b;
    }
    ul li a{
        text-decoration: none;
        color: #404d0b;
    }
    ul li i{
        margin: 2%;
        font-size: 1rem;
        transition: .2s;
        
    }
    ul li:first-child i{
        animation: changeColor 2s infinite;
    }
    p{
        font-size:.5rem;
        margin-right: 2%;
        text-align: right;
        color:gray;
    }
   
}
