/*prevent adjustments of font size after oreientation changes in IE on windows phone and ios*/
html{-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%};

/*apply a natural box layout model to all elements*/
*{-moz-box-sizing: border-box;-webkit-box-sizing: border-box; box-sizing: border-box;}
/*------------BODY--------------*/
body{
    font-family: $defaultFont;
    font-weight: $normalWeight;
    font-size: .9rem;
    line-height: 1rem;
    text-align:center;
}
h1{
    font-size: 1.5rem;
    line-height: 2rem;
}
h2{
    font-size:1.1rem;
}
/*---------HEADER-----------*/
header{
    .banner{
        margin-top: 50px;
    }
    .banner img{
        width:100%;
    }
}
/*-----------NAV-----------------*/
.navbar{
    background-color: $primaryColor;
    color:#404d0b;
    position: fixed;
    top:0;
    left:0;
    z-index: 3;
    width: 100%;
    height: 50px;
}
.menuIcon {
    text-align: right;
    cursor: pointer;
    i{
        padding: .5rem;
        font-size: 1.5rem;
    }
}
.bigScreen{
    display:none;
}
.mobile .menuList{
    display: none;
    background-color: $primaryColor;
}
.menuList a{
    text-decoration: none;
    color:#404d0b;
}
.menuList li{
    padding: .5rem;
    transition:.3s  cubic-bezier(0.165, 0.84, 0.44, 1);
}
.menuList li:hover{
    background-color: darken($color: $primaryColor, $amount: 10%);
}
.show{
    display:block !important;
}
.actived li{
    background-color:rgba($secondaryColor, .8) !important;
}
/*--------------Side Bar------------------*/
.location{
    clear:both;
    z-index: 2;
    position: absolute;
    right: 0;
   background-color: orange;
   width: 50px;
   height: 25px;

   i{
       color:white;
       padding: 3px 0;
       margin-left: 15px;
   }
}
/*-----------------SLIDER---------------*/
div.slider{
    margin-top:50px;
    overflow: hidden;
    height: 40vh;
    // background-color: silver;
    position: relative;
}

.slider figure{
    width:100%;
    position: relative;
    left: 0;
   
}
.slider figure img{
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    display: block;
    transition: 3s ease-in-out;
} 
/*LOGO*/  
.slider::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    height: 50px;
    width: 50px;
    background-image: url('../images/logo.jpg');
    background-position: center;
    background-size: cover;
    z-index:2;
}
/*------------------Main ----------------*/
main{
    width: 100%;
    margin: 1rem 0 1rem 0;
  
   line-height: 1.5rem;
}
.gioiThieu{
  
    .content{
       padding: .5rem 1rem;
       height: auto;
       text-align: left;
    }
    
    .content {
        padding: .7rem;
        border: .1rem solid rgb(255, 255, 255);
        border-radius: 15px;
        
    }
    .wrapper{
        background-size: cover;
        background-repeat: none;
        border-radius: 20px;
        border: 1px solid white;
        box-shadow: 3px 3px 3px gray;
    }
    .forWhom .wrapper{
        background-image: url('../images/slideshow/glarus_s.jpg');
        
    }    
    .montessori .wrapper{
        background-image: url('../images/slideshow/beautifulLanscape.jpg');
    }
    .curriculum .wrapper{
        background-image: url('../images/slideshow/nature-wallpapers-8.jpg');
    }
    .wrapper div{
        width:80%;
        margin: 1rem auto;
       background-color: rgba($color: #fff, $alpha: .7);
       padding: .5rem;
    }
    
   
}
.follows{
    margin:1rem 0 .5rem 0;
}
.follows figure img{
    margin: .5rem;
    width:15%;
}
/*--------FOR WHOM -------------------*/
.forWhom-info{
   
    width: 80%;
    margin: 0 auto;
  
    figure img{
        width: 90%;
    }
    .info{
        margin: 2rem 0;
    }
}
/*--------------MONTESSORI-------------*/
.montessori .content{
    width:90%;
    margin: 0 auto;
    
    span{
        font-style: italic;
        color:$fontColor;
        border-bottom: dotted $secondaryColor 2px;
    }
}
.montessori .content p{
    margin:.5rem auto;
}
.montessori .content figure{
    width: 80%;
    margin: .5rem auto;
}
.montessori .content figure img{
    width:100%;
}

/*-------------CURRICULUM---------------*/
.chuongTrinhHoc .wrapper{
    width: 90%;
    margin: 1rem auto;
}
.chuongTrinhHoc figure {
    width:90%;
    margin: .5rem auto;
}
.chuongTrinhHoc figure img{
    width:100%;
}


/*--------------Footer-----------------*/
@keyframes changeColor{
    100%{color:$secondaryColor;}
}
footer {
    
    text-align: left;
    background-color: $primaryColor;
    figure:nth-child(1){
        display: none;/*this pic for bigger screen*/
    }
    figure img{
        width: 100%;
    }
    ul{
       margin: .5rem 2%; 
       
    }
    ul li{
        list-style: none;
        font-size:.8rem;
        color:#404d0b;
    }
    ul li a:not(:first-child){
        text-decoration: none;
        color: #404d0b;
        border-bottom: dotted gray 2px;
    }
    ul li a{
        text-decoration: none;
    }
    ul li i{
        margin: 2%;
        font-size: 1rem;
        transition: .2s;
        color:#404d0b;
    }
    ul li:first-child i{
        animation: changeColor 2s infinite;
    }
    p{
        font-size:.5rem;
        margin-right: 2%;
        text-align: right;
        color:gray;
    }
   
}
