$primaryColor: #b3d334;
$secondaryColor: #f8a01a;
$yellowColor:#fff7c0;
$fontColor: #404d0b;


$defaultFont: 'Nunito', sans-serif;
$boldWeight: 900;
$medWeight:700;
$normalWeight:400;

//for create not a full screen photo
$gutter: 2%;
$gutterdbl: (2*$gutter)